.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  background-color: #000;
  color: #fff;
  text-align: center;
}
input {
  padding: 5px;
  margin: 5px;
  border-width: 2px 2px 4px 3px;
  border-style: solid;
  border-color: #ff0000;
  border-radius: 8px;
}
table {
  border: 2px solid #FFF;
}
tr {
  padding: none;
}
td {
  border: 1px solid #FFF;
}
.conditionList {
  width: 90%;
  text-align-last: center;
  padding: 5px;
  margin: auto;
  border-width: 2px 2px 4px 3px;
  border-style: solid;
  border-color: #ff0000;
  border-radius: 8px;
}
.node {
  width: auto;
  float: left;
  text-align: left;
  padding: 5px;
  margin: 20px;
  border-width: 2px 2px 4px 3px;
  border-style: solid;
  border-color: #ff0000;
  border-radius: 8px;
}
.back {
  position: fixed;
  bottom: 5px;
}